body{
    margin:0;
    font-family: Arial, sans-serif;
    background-color:gray;
}


#div1{
    text-align: center;
    background-color: green;
    padding: 1px;
    color: white;
}


#div2,a{
   
   text-decoration: none;
   color: green;
   background-color: gainsboro;
   padding: 10px;
   font-size: 20px;
   
}

.container{
   display: flex;
   gap: 20px;
   margin: 30px;
   align-items: stretch;
}

.main{
    flex: 2;
    background: white;
    padding: 20px;
    border-radius:8 px;
    margin-right: 20px;
    border-radius: 5px;
  
    

}

.sidebar{
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 5px;
   
}

#schedule{
    
    padding: 20px;
    background-color: white;
    margin: 25px;
    margin-right: 550px;
    border-radius: 5px;
  
    
}





